#header .inner p {
	max-width: 600px;
	margin: 0 auto;
    text-align: left;
}

.menu {
	position: fixed;
	top: 0;
	width: 100vw;
	background: #4567b0;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    z-index: 100;
    color: white;
    font-size: 1.05em;
    font-weight: bold;
    overflow: hidden;
}

.menu a {
	margin-right: 12px;
}